<!-- <div class="footer">
  <div class="footer-main">
    <h3><strong>SEVEN</strong> home</h3>
    <p class="footer-main-text">Un espace de travail créé par des entrepreneurs pour des entrepreneurs. Et nous y sommes aussi...</p>
  </div>
  <div class="footer-categories-container">
    <div class="footer-categories" id="footer-categories1">
      <h3>A PROPOS</h3>
      <div class="footer-links">
        <a href="#description-anchor">Description</a>
        <a href="#price-anchor">Tarifs</a>
      </div>
    </div>
    <div class="footer-categories" id="footer-categories2">
      <h3>SUIVEZ-NOUS</h3>
      <div class="footer-links">
        <a href="https://www.linkedin.com/company/learnbyseven/">LinkedIn</a>
        <a href="" data-toggle='modal' data-target='#contactUs'>Contactez-nous</a>
      </div>
    </div>
    <div class="footer-categories" id="footer-categories3">
      <h3>UNIVERS</h3>
      <div class="footer-links">
        <a href="https://byseven.co" target="_blank">SEVEN</a>
        <a href="https://learn.byseven.co" target="_blank">SEVEN learn</a>
        <a href="https://learn.byseven.co/lab" target="_blank">SEVEN lab</a>
        <a href="https://home.byseven.co" target="_blank">SEVEN home</a>
        <a href="https://invest.byseven.co" target="_blank">SEVEN invest</a>
      </div>
    </div>
  </div>
</div>
 -->
