@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap");



body {
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 700;

    @include from-medium {
      font-size: 28px
    }

    @include from-large {
      font-size: 32px;
    }
}

h2 {
    font-family: "Montserrat";
    font-size: 20px;

    @include from-medium {
      font-size: 24px
    }

    @include from-large {
      font-size: 32px;
    }
}

h3 {
  font-family: "Montserrat";
  font-size: 16px;

  @include from-medium {
    font-size: 20px;
  }

  @include from-large {
    font-size: 20px;
  }
}

a {
  color: black;
  font-family: "Montserrat";
  &:hover, &:focus {
    text-decoration: none;
    color: black;
  }
}

p {
  font-family: "Montserrat";
  font-size: 12px;

  @include from-large {
    font-size: 14px;
  }
}

h4 {
  font-size: 16px;

  @include from-medium-high {
    font-size: 18px;
  }
}

span {
  color:#3DA1A9;
}
// -------------------------------------------------------------------

// COVER

.home-cover {
  height: 100vh;
  // max-height: 1080px;
  // width: 100vw;
  max-width: 1440px;
  // margin-top: -50.8px;
  background-image: url('/assets/img/headhome.png');
  background-size: cover;
  background-position: 0% 100%;
  display: flex;
  justify-content: left;
  @include from-medium {
    align-items: center;
  }
}



//--------------------------------------------------------------------

// PRESENTATION

.home-cover-info {
  height: 180px;
  width: 100%;
  background-color: white;
  border:1px solid white;
  padding: 20px;
  font-family: 'Montserrat';
  .home-coworking {
    font-size: 35px;
    color:#3DA1A9;
    margin-top:80px;
    text-align: center;
  }
  h5 {
    display: none;
  }
  .home-cover-button {
    a {
      display:none;
    }
  }
  @include from-medium {
    margin-top: 0;
    width: 375px;
    height: 435px;
    margin-left: 125px;
    background-color: white;
    border:1px solid white;
    border-radius: 15px;
    padding: 20px;
   .home-coworking {
    color:#3DA1A9;
    font-size: 55px;
    margin: 15px 0px;
    text-align: none;
  }
  h5 {
    display: inherit;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 20px;
  }
  .home-cover-button
  a {
    display: inherit;
    font-size: 16px;
    border: 2px solid #3DA1A9;
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 40px 60px;
    font-weight: 700;
  }
  a:hover {
    background-color:#3DA1A9;
    color:white;
  }
  }
}

.home-presentation {
  padding: 0;
  position: relative;
  h2 {
    color: black;
  }
  @include from-medium-high {
    h4 {
      font-weight: 18px;
    }
  }
}

#description-anchor {
  position: absolute;
  top: -94px;
}

.home-presentation-content {
  @include from-large {
    padding: 0 50px;
  }
}

.home-presentation-description {
  padding: 5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  h2 {
    margin-top: 0;
  }

  @include from-medium-high {
    justify-content: space-between;
  }
}


.fas {
  color:#3DA1A9;
}

.mySlides {
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include from-medium {
    height: 500px;
  }
}

// -------------------------------------------------------------------

// PRICE

.home-price {
  text-align: center;
  position: relative;
  p {
    text-align: center;
    font-size: 16px;
  }
  h3 {
    margin-top: 0px;
    font-size: 35px;
    color: #3DA1A9;
    font-weight: 600;
    @include from-medium {
      font-size: 24px;
    }

    @include from-large {
      font-size: 30px;
    }
  }

  #price-anchor {
    position: absolute;
    top: -100px;
  }

  .price {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    color: black;
    margin-bottom: 0;
  }
}


.home-price-interest-info {
  display: grid;
  grid-template-columns: 1fr;
  margin: 80px 0;
  @include from-medium-high {
    grid-template-columns: 1fr 1fr;
  }
}

.price-info {
  margin: 30px 80px;
}


// -----------------------------------------------------------------

// CONTACT

.home-contact {
  display: flex;
  justify-content: center;
  align-items: center;

  @include from-large {
    // padding: 0 200px 100px 200px;
  }
}

.home-contact-content {
  box-shadow: 2px 2px 10px rgba(136,136,136,0.8);
  width: 300px;
  height: 500px;

  @include from-xlarge {
    width: 500px;
    height: 650px;
  }
}

.metro-line {
  height: 25px;

  @include from-medium-low {
    height: 29px;
  }

  @include from-xlarge {
    height: 30px;
  }
}
.home-map {
  background-image: url('/assets/img/google-map.png');
  background-position: center;
  width: 100%;
  min-height: 300px;

  @include from-xlarge {
    width: 100%;
    min-height: 350px;
  }
}

.home-contact-address {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  h3 {
    font-weight:700;
    font-family: 'Montserrat';
    color:black;
    margin: 0;
    font-size: 14px;
  }
  @include from-xlarge {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  h3 {
    font-weight:700;
    font-family: 'Montserrat';
    color:black;
    margin: 0;
    font-size: 18px;
  }
  }

}

.home-price-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 650px;
     h4 {
      color:#3DA1A9;
      font-family: 'Montserrat';
      font-weight: 300;
    }
}

.home-text {
  margin: 0px 88px;
}

// ---------------------------------------------------------------------

// CONTACT US

.home-contact-us {
  margin-top:50px;
  padding: 50px;
  text-align: center;
  width: 100%;
  height: auto;
  float:left;
  clear:none;
  display: flex;
  flex-direction: column;

  @include from-large {

  }

  @include from-xlarge {
    height: 450px;
  }
}

.home-contact-us > h2 {
  font-family: "Montserrat";
  font-size: 24px;
  margin: 0 0 30px 0;
  font-weight: 700;
}

.home-contact-us > h3 {
  font-family: "Montserrat";
  font-size: 20px;
  margin: 30px 0;
  font-weight: 300;
}

.home-contact-us-buttons {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0 20px 0;

  @include from-large {
    display: inline;
    height: auto;
  }
}

.home-button-contact {
    max-width: 150px;
    font-size: 14px;
    background-color: #3DA1A9;
    color:white;
    padding: 8px 12px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    font-weight: 700;
  &:hover {
    color:#3DA1A9;
    border: 2px solid #3DA1A9;
    background-color:white;
  }
  @include from-medium {
    margin: 0px 150px;
  }
}


.card {
  display:none;
  margin: 0px 30px;
  height: 200px;
  width: 200px;
  perspective: 100rem;
  position: relative;

  p {
    font-size: 12px;
    font-weight: 300;
  }

  &__side {
    height: 100%;
    width: 100%;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 700ms ease;
    backface-visibility: hidden;

    &--front {
      background-color: white;
    }

    &--back {
      background-color: white;
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  @include from-medium-high {
    height: 300px;
    width: 300px;
    &--back {
      background-color: white;
      transform: rotateY(180deg);
    }
    p {
      font-size: 14px;
    }
  }
}

.bottom-button {
  display: flex;
  justify-content: center;
}

  .mobile-card {
     margin: 50px;
      height: 200px;
      width: 230px;
      color: black;
      display: flex;
      flex-direction: column;
    }

.mobile-cards {

    p {
    font-size: 12px;
    font-weight: 300;
    }
  .mobile-card {
     margin: 50px;
      height: 200px;
      width: 200px;
      color: black;
      font-weight: bold;
      display: flex;
      flex-direction: column;
    }
  }

