---
layout: base
---

<div class="home-cover">
  <div class="home-cover-info">
    <h1 class="home-coworking">Home Coworking</h1>
    <h5>Pour vous sentir comme à la maison, nous vous proposons un espace de co-working dans le Quartier Oberkampf, agréable, lumineux et dynamique !</h5>
    <div class="home-cover-button">
      <a href="#description-anchor">Decouvrir-Plus</a>
    </div>
  </div>
</div>
<div class="home-presentation">
  <a id="description-anchor"></a>
  <div class="home-presentation-content">
    <div class="home-presentation-text">
      <div class="home-presentation-description">
        <section class="card">
         <div class="card__side card__side--front">
            <i class="fas fa-wifi fa-2x"></i>
            <h4>Un bureau adapté et flexible en coworking</h4>
            <p>Un espace bureau déjà équipé avec <span>le wifi,</span> et <span>la fibre.</span> Vous aurez <span>accès au serveur</span> afin d'être le plus productif possible. </p>
          </div>
          <div class="card__side card__side--back">
            <i class="fas fa-coffee fa-2x"></i>
            <h4>Un bureau équipé et confortable</h4>
            <p>Un espace bureau adapté à tous vos besoins avec <span>un coin café,</span> un cuisine, une salle  à manger, <span>des espace d'attente et détente,</span> des accès handicapés et un service de ménage.</p>
          </div>
        </section>
        <section class="card">
         <div class="card__side card__side--front">
            <i class="fas fa-shield-alt fa-2x"></i>
            <h4>Un espace sécurisé pour travailler et collaborer</h4>
            <p>Très clair, aménagé (tables, chaises, rangements), vous n'avez plus qu'à poser votre ordinateur pour travailler avec <span>accès par badge</span> et un <span>casier fermé</span> pour votre securite. </p>
          </div>
          <div class="card__side card__side--back">
            <i class="fas fa-print fa-2x"></i>
            <h4>Un espace meublé pour mieux travailler et collaborer</h4>
            <p>Notre espace de <span>bureau est équipé</span> de chaises et tables confortables. Ainsi qu'une <span>imprimante,</span> un scanner, <span>un photocopieur,</span> un téléphone, un écran de télévision et un vidéoprojecteur.</p>
          </div>
        </section>
        <section class="card">
         <div class="card__side card__side--front">
            <i class="fas fa-map-marker-alt fa-2x"></i>
            <h4>Un Bureau en plein centre de Paris </h4>
            <p>Nous vous proposons un <span>espace de co-working de 140m²</span> proche de la place de la République dans <span>le Quartier Oberkampf</span>, ouvert 7j/7, 24h/24.</p>
          </div>
          <div class="card__side card__side--back">
            <i class="fas fa-thumbs-up fa-2x"></i>
            <h4>Un Bureau qui vous propose plusieurs services</h4>
            <p>Pour que vous puissiez vous concentrer sur le travail, nous vous proposons des <span>rangements individuels,</span> une <span>salle de réunion partagée,</span> réception courrier, <span>de l'accès 24/7,</span> et de la domiciliation.</p>
          </div>
        </section>
      </div>
    <div class="home-presentation-carousel">
    <section>
      <img class="mySlides" src="assets/img/home1.jpeg"
      style="width:100%">
      <img class="mySlides" src="assets/img/home2.jpeg"
      style="width:100%">
      <img class="mySlides" src="assets/img/home3.jpeg"
      style="width:100%">
      <img class="mySlides" src="assets/img/home4.jpeg"
      style="width:100%">
    </section>
    </div>
    <div class="home-price-interest-info">
      <div class="home-price">
        <a id="price-anchor"></a>
        <h3>Simple et flexible</h3>
        <div class="price-info">
          <p>Pour une durée minimum de 3 mois, contrat de prestation de service, sans frais d'entrée, avec dépôt de garantie de 3 mois.</p>
        </div>
        <h3 class='price'>250€ HT / poste / mois</h3>
        <div class="home-contact-us">
          <a id="contact-anchor"></a>
          <h2>Vous êtes interessé et vous souhaitez venir visiter la HOME ?</h2>
          <h3>Nous avons hâte de vous rencontrer !</h3>
          <div class="home-contact-us-buttons">
            <a href="#contact-button" class="home-button-contact" data-target='#contactUs'>Contactez-nous</a>
          </div>
        </div>
      </div>
      <div class="home-contact">
        <div class="home-contact-content">
          <div class="home-map"></div>
          <div class="home-contact-address">
            <h3>Localisation et transports</h3>
            <div>
              <h3>Home</h3>
              <h3>5, rue Moret</h3>
              <h3>75011 Paris</h3>
            </div>
            <div>
              <h3>Métro <img src="/assets/img/logo-metro-2.svg" alt="" class='metro-line'> Ménilmontant</h3>
              <h3>Métro <img src="/assets/img/logo-metro-3.svg" alt="" class='metro-line'> Rue Saint Maur</h3>
              <h3>Métro <img src="/assets/img/logo-metro-9.svg" alt="" class='metro-line'> Oberkampf</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contac Modal -->
<div class="modal fade" id="contactUs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    {% include contact-modal.html %}
  </div>
</div>

<!-- Pictures Modal -->
  <!-- <div class="modal fade" id="picturesModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> -->

<!-- Wrapper for slides -->
  <!-- <div class="carousel-inner">
    <div class="item active">
     <img class="img-responsive" src="/assets/img/home1.jpeg" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img class="img-responsive" src="/assets/img/home2.jpeg" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img class="img-responsive" src="/assets/img/home3.jpeg" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
     <div class="item">
      <img class="img-responsive" src="/assets/img/home4.jpeg" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
  </div> -->

  <!-- Controls -->
 <!--  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
    </div>
  </div>
</div>
</div> -->

<script>
  var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 3000);
}

</script>
